# Created by .ignore support plugin (hsz.mobi)
### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

dist/*
data/*
models/*
!data/*-100k.csv
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

.idea/
build.sbt
project/
src/test/
*.jar
!data/ml-100k
!data/data-processing.ipynb
!models/ml-100k.md
!models/ml-100k.fm
